<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Update Products</title>
</head>
<body>
    <div>
    <h2>{{action}} Product</h2>
    </div>

    <div>
        <form action="../save/" method="POST">
            {%csrf_token%}
            <label>Product name:</label>
            <input type="text" name="name" placeholder="Enter Product Name" required><br>
            <label>Price:</label>
            <input type="number" name="price" placeholder="Enter Product Price" required><br>
            <label>Category:</label>
            <input type="text" name="category" placeholder="Enter Product Category" required><br>
            
            <input type="submit" value="Add Product">
        </form>
    </div>
</body>
</html> 